@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Neuromante-1984</h1>
    <p>Bienvenidos <a href="https://docs.microsoft.com/aspnet/core">Interaccion Asignacion salones</a>.</p>
    <img src="imagen/neuro.jpg" class="img-fluid">
</div>
