@page
@model UCS.App.Frontend.Pages.EditarEstudianteModel
@{
}
<h1>Editar Estudiante</h1>
<form method="Post">
    <input type="hidden" asp-for="Estudiante.id">
    <div class="form-group">
        <label asp-for="Estudiante.nombre"></label>
        <input asp-for="Estudiante.nombre" class="form-control">
        <span class="text_danger" asp-validation.for="Estudiante.nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estudiante.apellido"></label>
        <input asp-for="Estudiante.apellido" class="form-control">
        <span class="text_danger" asp-validation.for="Estudiante.apellido"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estudiante.identificacion"></label>
        <input asp-for="Estudiante.identificacion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Estudiante.edad"></label>
        <input asp-for="Estudiante.edad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Estudiante.EstadoCovid"></label>
        <input asp-for="Estudiante.EstadoCovid" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Estudiante.carrera"></label>
        <input asp-for="Estudiante.carrera" class="form-control">
        <span class="text_danger" asp-validation.for="Estudiante.carrera"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estudiante.Semestre"></label>
        <input asp-for="Estudiante.Semestre" class="form-control">
        <span class="text_danger" asp-validation.for="Estudiante.Semestre"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-page="./EditarEstudiante">Guardar Cambios</button>
</form>
